 body {
      font-family:  "Roboto", "Helvetica", sans-serif;
      font-size: 12pt;
      font-color: Gray;
      line-height: 1.6;
      margin: 50px;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    margin-top: 5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #438EB9;
  } 
  pre {
    font-size: 70%; 
    width: 1100;
  }
  blockquote {
    margin: 2rem 0 1rem;
    font-size: 90%;
}